### Perform sentimental analysis on Amezon Reviews

#### Importing Liearies

In [11]:
import pandas as pd 
import numpy as np 
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [12]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

/usr/local/lib/python3.6/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

VADER's SentimentIntensityAnalyzer() takes in a string and returns a dictionary of scores in each of four categories:

negative
neutral
positive
compound (computed by normalizing the scores above, (i.e. aggregated score)

In [13]:
a = 'This is a good movie ever seen'
sid.polarity_scores(a)

{'compound': 0.4404, 'neg': 0.0, 'neu': 0.633, 'pos': 0.367}

In [14]:
a = 'This was the worst film to ever disgrace the screen'
sid.polarity_scores(a)

{'compound': -0.8074, 'neg': 0.477, 'neu': 0.523, 'pos': 0.0}

#### Importing Dataset

In [15]:
df = pd.read_csv('/content/Amezonreview.csv',encoding = "ISO-8859-1")

In [16]:
df.head()

  label                                             review
0   pos  Stuning even for the non-gamer: This sound tra...
1   pos  The best soundtrack ever to anything.: I'm rea...
2   pos  Amazing!: This soundtrack is my favorite music...
3   pos  Excellent Soundtrack: I truly like this soundt...
4   pos  Remember, Pull Your Jaw Off The Floor After He...

In [17]:
df['label'].value_counts()

neg    5097
pos    4903
Name: label, dtype: int64

Check any Null Value Present in the Dataset or Not

In [18]:
df['label'].isnull().sum()

0

 REMOVE NaN VALUES AND EMPTY STRINGS

In [19]:
df.dropna(inplace=True)

blanks = []  # start with an empty list
for i,lb,rv in df.itertuples():  # iterate over the DataFrame
    if type(rv)==str:            # avoid NaN values
        if rv.isspace():         # test 'review' for whitespace
            blanks.append(i)     # add matching index numbers to the list

df.drop(blanks, inplace=True)

In [20]:
sid.polarity_scores(df.loc[0]['review'])

{'compound': 0.9454, 'neg': 0.088, 'neu': 0.669, 'pos': 0.243}

In [21]:
df['scores'] = df['review'].apply(lambda review: sid.polarity_scores(review))
df.head()

  label  ...                                             scores
0   pos  ...  {'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co...
1   pos  ...  {'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co...
2   pos  ...  {'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com...
3   pos  ...  {'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com...
4   pos  ...  {'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp...

[5 rows x 3 columns]

In [22]:
df['compound'] = df['scores'].apply(lambda score_dict: score_dict['compound'])
df.head()

  label  ... compound
0   pos  ...   0.9454
1   pos  ...   0.8957
2   pos  ...   0.9858
3   pos  ...   0.9814
4   pos  ...   0.9781

[5 rows x 4 columns]

In [23]:
df['comp_score'] = df['compound'].apply(lambda c: 'pos' if c >= 0 else 'neg')
df.head()

  label                                             review  ... compound  comp_score
0   pos  Stuning even for the non-gamer: This sound tra...  ...   0.9454         pos
1   pos  The best soundtrack ever to anything.: I'm rea...  ...   0.8957         pos
2   pos  Amazing!: This soundtrack is my favorite music...  ...   0.9858         pos
3   pos  Excellent Soundtrack: I truly like this soundt...  ...   0.9814         pos
4   pos  Remember, Pull Your Jaw Off The Floor After He...  ...   0.9781         pos

[5 rows x 5 columns]

In [24]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [25]:
print(classification_report(df['label'],df['comp_score']))

              precision    recall  f1-score   support

         neg       0.86      0.51      0.64      5097
         pos       0.64      0.91      0.75      4903

    accuracy                           0.71     10000
   macro avg       0.75      0.71      0.70     10000
weighted avg       0.75      0.71      0.70     10000

In [26]:
print(confusion_matrix(df['label'],df['comp_score']))

[[2623 2474]
 [ 435 4468]]

In [27]:
accuracy_score(df['label'],df['comp_score'])

0.7091